# Google Spreadsheet ID (Visible to client)
VITE_SHEET_ID=1syQgXhAwQV2DLn54gRjsNG1NTLAR59g5hBKzJDK6uh8

# Google Sheets Service Account (Server-side ONLY)
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
